/* public/css/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 30px 0;
    padding: 0; /* Remove padding from li and move it to the label */
    border-radius: 4px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
}

.hover-task:hover {
    background: #f5f5f5;
}

/* Extend touch area for checkbox */
label {
    display: block;
    padding: 10px; /* Move padding to label */
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Make label take full width of li */
}

input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

    button:hover {
        background-color: #0056b3;
    }

input[type="text"] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: calc(100% - 22px);
}

.complete-button {
    background-color: #6acf42;
}

    .complete-button:hover {
        background-color: #58ab37;
    }

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 0 90px;
    /*margin: 0 auto;*/
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    min-width:490px;

    
 
    
}

.completed-tasks-list {
    list-style-type: none;
    padding: 0;
}

.blue-action {
    margin-bottom: 20px;
    margin-top: 20px;
}

.completed-li {
    margin: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px; /* Adjust min-width as needed */
    padding: 8px 12px; /* Example padding */
    border: 1px solid #ccc; /* Example border */
}

.item-text {
    flex: 1; /* Allow text to take up remaining space */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px; /* Ensure a 10px gap between text and button */
}

.delete-button {
    background-color: #f22d1b;
    margin-left: 10px; /* Adjust as needed. */
    cursor: pointer;
}

    .delete-button:hover {
        background-color: #d93021;
    }